<div class="row col-sm-12 blocks-main-bytes ">
    <div class="col blocks-bytes" style="display: flex;">
        <div class="p-3 col-sm-3" 
            style="padding-right: 3px; padding-left: 3px;">
            <img src="../../assets/images/icons/shopping-cart.svg"  
            style="width: 30px;" alt="Cart">
        </div>
        <div class=" p-2 bd-highlight col-sm-4 text-white">
          <h4>{{ orders }}</h4>
          <h6 style="margin-top: -7px;">Orders</h6>
        </div>
        <div class="p-3 col-sm-4" style="margin-left: -1rem;">
          <button class="btn btn-success btn-sm text-dark" (click)="plusOrders()" > <span class="font-weight-bold" >+</span> increment</button>
        </div>
    </div>
    <div class="col blocks-bytes blocks-bytes-magin">
    </div>
    <div class="col blocks-bytes blocks-bytes-magin">
    </div>
    <div class="col blocks-bytes blocks-bytes-magin">
    </div>

  </div>