body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  background-color: #235fa9;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(49vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #fff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.menu-bytes {
  background-color: #c4d9f3;
  height: 60px;
}

.footer-bytes {
  background-color: #c4d9f3;
  height: 60px;
  position: fixed;
  width: 80%;
  bottom: 6px;
}
.text-user{
  margin-top: 11px;
}
.contaner-bytes {
 
}
.img-rounded {
  border-radius: 5.0rem !important;
}
.img-top-menu {
  width: 40px;
  margin-top: 8px;
}
.sombrarredondada {
  box-shadow: 2px 2px 8px #000;
  -webkit-box-shadow: 2px 2px 8px #000;
  -moz-box-shadow: 2px 2px 8px #000;
}
.color-default {
  background-color: #235fa9;
}

.color-bg-time {
  background-color: #eef5fd;
}
.bg-time-border {
  border-color: #007bff !important;
}

