
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <div class="text-center">
            <img src="../assets/images/user.png" class="rounded-circle sombrarredondada" alt="user">
          </div>
          <h5 class="text-center text-white text-user">John Doe</h5>
        </div>
        
          <ul class="nav flex-column">
            <li class="nav-item text-center text-white">
              <a class="nav-link active" href="#">
                  <span>
                      <img src="../../assets/images/icons/home.svg" alt="">
                  </span>
                  Dashboard
              </a>
            </li>
          </ul>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="contaner-bytes">
          <div class="col-sm-12 menu-bytes d-flex flex-row-reverse" >
              <div class="p-2 align-middle img-top-menu">
                <img src="../../assets/images/icons/ring.svg" alt="Notificação">
              </div>
              <div class="p-2 align-middle img-top-menu">
                  <img src="../../assets/images/icons/clipboard.svg" alt="Clipboard">
              </div>
              <div class="p-2 align-middle img-top-menu">
                  <img src="../../assets/images/icons/talk.svg" alt="Talks">
              </div>
              <div class="p-2 align-middle img-top-menu">
                  <img src="../../assets/images/icons/user.svg" alt="User">
              </div>
              <div class="p-2 align-middle img-top-menu">
                  <img src="../../assets/images/icons/settings.svg" alt="Settings">
              </div>
          </div>
          
          <app-orders></app-orders>
          <app-timer-control></app-timer-control>
          <div class="footer-bytes">
          </div>
        </div>
      </main>
    </div>
  </div>